
# Files di test
bmp
dct
main

# istogramma
hist.txt
hist2.txt

latex/*
!latex/relazione.tex
!latex/images/
!latex/images/*

# cartella img
/immagini

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
